/* GLOBAL */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;

  /* IMAGE BACKGROUND */
  background-image: url(photo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* DARK OVERLAY */
  background-color: rgba(30, 26, 26, 0.75);
  background-blend-mode: overlay;

  color: white;
}

/* NAVBAR */
nav {
    height: 10 px;
    display: flex;
    gap: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    justify-content: space-around;
    background: rgb(31, 38, 20);
    animation: navBg 8s ease-in-out infinite alternate;
}

img {
    margin: auto;
    height: 100px;
    width: 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 8px 20px;
    /* smaller height */
    background: rgb(107, 97, 97);
    backdrop-filter: blur(6px);
    border-radius: 0 0 10px 10px;
}

nav a {
    text-decoration: none;
    color: rgb(184, 151, 151);
    font-size: 13px;
    /* smaller text */
    font-family: 'Segoe UI', sans-serif;
    padding: 6px 10px;
    /* smaller buttons */
    border-radius: 5px;
    transition: 0.25s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(66, 23, 23, 0.795);
    transform: translateY(-1px);
    /* subtle movement only */
}

@keyframes floatColor {
    0% {
        transform: translateY(0px);
        color: rgb(225, 191, 191);
    }

    25% {
        transform: translateY(2px);
        color: rgb(91, 63, 63);
    }

    50% {
        transform: translateY(0px);
        color: rgb(111, 126, 66);
    }

    75% {
        transform: translateY(-2px);
        color: rgb(39, 22, 22);
    }

    100% {
        transform: translateY(0px);
        color: rgb(33, 11, 11);
    }
}

@keyframes navBg {
    0% {
        background-color: rgb(41, 51, 24);
    }

    25% {
        background-color: rgb(84, 66, 66);
    }

    50% {
        background-color: rgb(71, 90, 70);
    }

    75% {
        background-color: rgb(37, 37, 33);
    }

    100% {
        background-color: rgb(44, 49, 35);
    }
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 60px;
}

.hero h1 {
    font-size: 42px;
    font-family: serif;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    animation: fadeUp 1s ease;
}

.hero p {
    font-size: 16px;
    opacity: 0.85;
    margin-top: 10px;
    width: 450px;
    height: 40px;
    border-radius: 30px;

    margin-left: 400px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    animation: pkg 1.4s infinite ease-in-out;
}

.hero p:hover {
    background-color: rgba(59, 37, 36, 0.573);

}

@keyframes pkg {
    0% {
        background-color: rgba(67, 43, 43, 0.578);
    }

    50% {
        background-color: rgba(91, 56, 56, 0.47);
    }
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    margin-top: 60px;
}

.card {
    width: 250px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;

    backdrop-filter: blur(6px);
    transition: 0.3s;
    cursor: pointer;
}
.card-link {
  text-decoration: none;
  color: inherit;
}
.card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    font-size: 13px;
    padding: 0 10px 15px;
    opacity: 0.85;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* ANIMATION */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FORM PAGE */
.form-container {
  width: 350px;
  margin: 60px auto;
  padding: 20px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(8px);

  border-radius: 10px;
  text-align: center;
}



form {
  width: 300px;
  margin: auto;
}

input, select {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;

  background: #875c46;
  color: white;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s;
}

.card {
  background: rgba(255,255,255,0.1);
  margin: 15px;
  padding: 10px;
  border-radius: 8px;
}
.container {
  width: 320px;
  margin: 60px auto;
  text-align: center;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}



.preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  display: none;
  object-fit: cover;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}


.auth-box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}

.auth-box input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.auth-box button {
  margin: 5px;
  padding: 8px;
  background: rgb(58, 29, 16);
  color: white;
  border: none;
}
.auth-box {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

.auth-box input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.profile-card {
  text-align: center;
  margin-top: 80px;
}

.preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.reserve-container {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  text-align: center;
}

.reserve-container h1 {
  margin-bottom: 20px;
  color: #fff;
}

.reserve-container label {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-size: 14px;
}

.reserve-container input,
.reserve-container select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

.reserve-container button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: rgb(151, 120, 91);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#message {
  margin-top: 15px;
  color: rgb(228, 173, 129);
}



h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
}

#rooms {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  width: 200px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(8px);
  text-align: center;
  transition: 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  opacity: 0.85;
}

form {
  width: 320px;
  margin: 60px auto;
  padding: 20px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);

  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

form h2 {
  margin-bottom: 20px;
}

select,
input[type="time"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;

  border: none;
  border-radius: 8px;
  outline: none;
}



button:hover {
  background: #372114;
  transform: scale(1.03);
  color: white;
}

#msg {
  margin-top: 10px;
  font-size: 14px;
}






.title {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
}

.menu {
  width: 60%;
  margin: 40px auto;
}

.menu-item {
  background: rgba(255,255,255,0.08);
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.menu-item:hover {
  transform: translateX(5px);
  background: rgba(255,255,255,0.12);
}

.menu-item h3 {
  margin: 0;
}

.menu-item p {
  font-size: 14px;
  opacity: 0.8;
}

.menu-item span {
  display: block;
  margin-top: 5px;
  color: #dcb695;
  font-weight: bold;
}